*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.parent {
    display: grid;
    height: 100vh;
    width: 100fr;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 10% 10% 20% 45%;
}
/*.title { grid-area: 1 / 1 / 2 / 3; }*/
/*.navBar { grid-area: 2 / 1 / 3 / 3; }*/
.search{
    font-size: 1.2em;
    margin-left: 2em;
}
.search> input{
    width: 200px;
}
.center {
    display: flex;
    justify-content: space-around;
    /*margin: 0 auto;*/
}
#title{
    display: flex;
    font-family: 'VT323', monospace;
    font-size: 2em;
    color: black;
    background: white;
    /*padding: .5em;*/
    /*margin: 1em;*/
    text-align: center;
    /*background: white;*/
    background-image: url("../img/logo-dnd.png");
    background-size: 75% 100%;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}
.right{
    /*display: flex;*/
    /* justify-content: end;*/
    /* align-content: center*/
    padding-left: 14em;
}
.title { grid-area: 1 / 1 / 2 / 3; }
.navBar { grid-area: 2 / 1 / 3 / 3; }
.ulContainer{
    display: flex; /* made unordered list a flex container */
    list-style: none;
    padding: 0;
    margin: 0;
    /*height: inherit;*/
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    font-size: 1.5em;
    font-family: 'VT323', monospace;
}
.liItems{
    padding: .5em;

}
.navStyle{
    background-color: black;
    height: 2em;
}
a {
    color: white;
    text-decoration: none;
}
a:hover{
    font-size: 1.2em;
    text-decoration: underline;
    color: white;
}
.background{
    background-image: url("../img/foggy-mountains.jpg");
    background-color: rgba(100,100,100,1);
    background-blend-mode: lighten;
    background-size: cover;
}

.body-text{
    color: white;
    font-weight: bold;
    font-size: large;
}
button{
    width: auto;
    padding: .3em;
    background: lightgray;
    color: black;
    border: 1px solid black;
    box-shadow: 0 0 5px black;
    font-weight: bold;
    font-size: .55em;
}
/*.bodyText{*/
/*    font-size: 1.5em;*/
/*    padding: 1em;*/
/*    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 1px black;*/
/*}*/