:root {
    --page-background: #E6E6E6;
    --navbar-background: #F0F0F0;
    --design-icon: #EB9D3A;
    --develop-icon: #DEA03D;
    --support-icon: #7CB06c;
    --host-icon: #00ABA9;
}

body {
    background-color: var(--page-background);
}

nav {
    background-color: var(--navbar-background);
}
#design {
    font-family: 'Abel', sans-serif;
    font-weight: lighter;
}
#nav-font{
    font-family: 'Abel', sans-serif;
}
#logo {
    display: flex;
    z-index: 1000;
}
.design-button {
    background: red;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 10px solid white;
    font-family: 'Anton', sans-serif;
    font-size: 28px;
    /*color: white;*/
    /*position: relative;*/
    /*display: inline-block;*/
    /*box-sizing: border-box;*/
    /*!*!*height: 250px;*!*!*/
    /*!*font-weight: bold;*!*/
    /*!*!*width: 150px;*!*!*/
    /*display: block;*/
    /*margin: 20px auto;*/

}
.develop-circle {
    background: red;
    border-radius: 50%;
    color: white;
    /*height: 200px;*/
    /*font-weight: bold;*/
    /*width: 200px;*/
    /*!*display: table;*!*/
    /*margin: 20px auto;*/
    /*box-sizing: border-box;*/
    /*display: block;*/

}
.support-circle {
    background: red;
    border-radius: 200px;
    color: white;
    height: 200px;
    font-weight: bold;
    width: 200px;
    /*display: table;*/
    margin: 20px auto;
    box-sizing: border-box;
    display: block;

}
.host-circle {
    background: red;
    border-radius: 200px;
    color: white;
    height: 200px;
    font-weight: bold;
    width: 200px;
    /*display: table;*/
    margin: 20px auto;
    box-sizing: border-box;
    display: block;
}

.featured-projects{
    font-family: 'Abel', sans-serif;
}

/*test css*/
.small-img {
    width: 50px;
    height: 50px;
    /*justify-content: left;*/
}

p {
    font-family: 'Abel', sans-serif;
}

/*h1 h2 h3 h4 h5{*/
/*    font-family: 'Anton', sans-serif;*/
/*}*/

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 64px;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 48px;
}

h3 {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}

h4 {
    font-family: 'Anton', sans-serif;
    font-size: 32px;
}

h5 {
    font-family: 'Anton', sans-serif;
    font-size: 28px;
}

