* {
    box-sizing: border-box;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*4*/
    grid-template-rows: repeat(5, 1fr);
    /*5*/
    grid-gap: 0;
    margin: 2em;
}

.div1 {
    background-color: black;
    grid-area: 1 / 1 / 1 / 6;
}
.div2 {
    grid-area: 2 / 1 / 2 / 2;
background-color: lightgrey}
.div3 { grid-area:  /  /  / ; }
.div4 { grid-area:  /  /  / ; }
.div5 { grid-area:  /  /  / ; }
.div6 { grid-area:  /  /  / ; }
