* {
    box-sizing: border-box;
}
body {
    margin: 0;
    text-align: center;
}
.parent {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    /*4*/
    grid-template-rows: 20% 20% 20% 20% 20%;
    /*5*/
    grid-gap: 0;
    margin: 2em;
}

.div1 {
    background-color: black;
    /*grid-area: 1 / 1 / 1 / 6;*/
}
.div2 {
    /*grid-area: 2 / 1 / 6 / 1;*/
background-color: lightgrey}
.div3 {
    grid-area:  /  /  / ;
}
.div4 {
    grid-area:  /  /  / ;
}
.div5 {
    grid-area:  /  /  / ;
}
.div6 {
    grid-area:  /  /  / ;
}
