*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: space-around;
    background: url("../img/arcade.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    text-shadow : 1px 0px 8px #FFF;
    color: #3421A0;

}
.parentBody {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 40% repeat(3, 20%);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.header { grid-area: 1 / 2 / 2 / 3; }
.game1 {
    grid-area: 2 / 2 / 3 / 3;
    padding: .5em;
}
.game2 {
    grid-area: 3 / 2 / 4 / 3;
    padding: .5em;
}
.header-arcade { grid-area: 1 / 2 / 2 / 3;
    padding-top: 0;
    margin-top: 0;

}
.game1-arcade {
    grid-area: 2 / 2 / 3 / 3;
    padding: 2em;
}
.game2-arcade {
    grid-area: 3 / 2 / 4 / 3;
    padding: 2em;
}
h1{
    font-size: 52px;
    padding: .4em;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF,
    0 0 15px #FFF, 0 0 20px #3421A0, 0 0 30px #3421A0,
    0 0 40px #3421A0, 0 0 55px #3421A0, 0 0 75px #3421A0,
    2px 2px 0px rgba(25,201,206,0);
}
div{
    display: flex;
    justify-content: center;
    align-content: center;
}
P{
    font-size: 30px;
}
