.fancy-header {
    color: dimgrey;
    text-decoration: underline;
}
h1 {
    font-weight: bold;
    text-align: center;
}
h2 {
    color: dimgrey;
    text-decoration: underline;
}
/*div {*/
    /*text-align: center;*/
/*}*/
.center{
     /*width:55%;*/
     margin:0 auto;
     text-align:center;
 }
body {
    /*margin: 0 auto;*/
    margin: 0;
    background-image: url("https://cdn.wallpapersafari.com/70/76/ohcQeA.jpg");
    background-repeat: repeat-y;
    font-family: Helvetica, sans-serif;
    /*text-align: center;*/
    /*margin: auto 0;*/
}
.parent {
    display: grid;
    /*height: 100vh;*/
    /*width: 100vw;*/
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: repeat(5, 20%);
    /*grid-column-gap: 0px;*/
    /*grid-row-gap: 0px;*/
    padding: 0;
    margin: 0;
}
.sec-header {
    grid-area: 1 / 1 / 2 / 4;
}
.sec-body-one {
    grid-area: 2 / 2 / 3 / 2;
}
.sec-body-two {
    grid-area: 4 / 2 / 5 / 3;
}
.sec-body-three {
    grid-area: 5 / 2 / 6 / 3;
}

ol {
    list-style-type: circle;
    list-style-position: inside;

}
ul {
    list-style-type: square;
    list-style-position: inside;
    /*margin: 0 auto;*/
}
li{
    width: 55vw;
    text-align: left;
}
.block {
    display: block;
    padding: 15px 15px;
    background-color: black;
    color: lightgrey;
}

td, th {
    padding: 10px;
    border: 1px solid black;
    margin: 0 auto;
}

a {
    text-align: center;
}
/* unvisited link (:link) */
a:link {
    color:black;
}

/* visited link (:visited) */
a:visited {
    color:blue;
}

/* mouse hover over link (:hover) */
a:hover {
    color:rebeccapurple;
}

/* active/selected link (:active) */
a:active {
    color:green;
}
table {
    margin: 0 auto;
    background-color: lightgrey;
    border: 1px solid black;
    color: dimgrey;
}

img {
    width: 42%;
    height: 42%;
    border-radius:50%;
    padding: 1%;
}