.fancy-header {
    color: gray;
    text-align: center;
    color: dimgrey;
    text-decoration: underline;
}
h1 {
    font-weight: bold;
    text-align: center;
}
h2 {
    color: dimgrey;
    text-decoration: underline;
    text-align: center;

}
div {
    text-align: center;

}
.center{
    width:200px;
    margin:0 auto;
    text-align:left;
}
body {
    background-image: url("https://cdn.wallpapersafari.com/70/76/ohcQeA.jpg");
    background-repeat: repeat-y;
    font-family: Helvetica, sans-serif;
    background-color: lightgrey;
    /*text-align: center;*/
    /*margin: auto 0;*/
}
ol {
    /*list-style-type: decimal;*/
    list-style-type: circle;
    list-style-position: inside;

}
ul {
    list-style-type: square;
    list-style-position: inside;
    /*margin: 0 auto;*/
}
.block {
    display: block;
}

a:hover {
    color:purple;
    color:rebeccapurple;
}

/* active/selected link (:active) */
a:active {
    color: seagreen;
    color:green;
}
table {
    /*box-sizing: border-box;*/
    /*width: 25%;*/
    padding: 5px;
    margin: 0 auto;
    background-color: lightgrey;
    border: 1px solid black;
}

img {
    width: 18%;
    height: 18%;
    border-radius:50%;
    /*padding: 1%;*/
}

.parent {
    display: grid;
    grid-template-columns: 10% repeat(4, 20%) 10%;
    grid-template-rows: 10% repeat(4, 15%) repeat(3, 10%);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    width: 100%;
}

.div1 { grid-area: 1 / 1 / 2 / 7; }
.div2 { grid-area: 2 / 2 / 4 / 6; }
.div3 { grid-area: 4 / 2 / 6 / 6; }
.div4 { grid-area: 6 / 3 / 8 / 5; }