.fancy-header {
    color: dimgrey;
    text-decoration: underline;
}
h1 {
    font-weight: bold;
    text-align: center;
}
h2 {
    color: dimgrey;
    text-decoration: underline;
}
div {
    text-align: center;
}
.center{
     width:200px;
     margin:0 auto;
     text-align:left;
 }
body {
    background-image: url("https://cdn.wallpapersafari.com/70/76/ohcQeA.jpg");
    background-repeat: repeat-y;
    font-family: Helvetica, sans-serif;
    /*text-align: center;*/
    /*margin: auto 0;*/
}
ol {
    list-style-type: circle;
    list-style-position: inside;

}
ul {
    list-style-type: square;
    list-style-position: inside;
    /*margin: 0 auto;*/
}
.block {
    display: block;
    padding: 15px 15px;
    background-color: black;
    color: lightgrey;
}

td, th {
    padding: 10px;
    border: 1px solid black;
    margin: 0 auto;
}

a {
    text-align: center;
}
/* unvisited link (:link) */
a:link {
    color:black;
}

/* visited link (:visited) */
a:visited {
    color:blue;
}

/* mouse hover over link (:hover) */
a:hover {
    color:rebeccapurple;
}

/* active/selected link (:active) */
a:active {
    color:green;
}
table {
    margin: 0 auto;
    background-color: lightgrey;
    border: 1px solid black;
    color: dimgrey;
}

img {
    max-width:30%;
    border-radius:50%;
    padding: 10px;
}